@tailwind base;
@tailwind components;
@tailwind utilities;
.head{

    font-size:clamp(60px,40%,96px);
    font-weight: 600;
    line-height: 1;
    padding-top: 1rem;
    width: 70%;
    z-index: 20;
  
  }
  @media only screen and (min-width: 1024px) {
    .head{
  
      font-size: clamp(60px, 40vw, 96px);
      font-weight: 600;
      line-height: 1;
      padding-top: 1rem;
      width: 70%;
      z-index: 20;
    
    }
  
    
    
  }
.iphone-x {
    position: relative;
    margin: 40px 0;
    width: 360px;
    height: 640px;
    background-color: #7371ee;
    background-image: url('/ss.webp');
    background-position: center center;
    background-size: 100% 100%;
    border-radius: 40px;
    box-shadow: 0px 0px 0px 11px #1f1f1f, 0px 0px 0px 13px #191919, 0px 0px 0px 20px #111;
}
.iphone-x:before, .iphone-x:after {
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
.iphone-x:after {
    bottom: 7px;
    width: 140px;
    height: 4px;
    background-color: #f2f2f2;
    border-radius: 10px;
}
.iphone-x:before {
    top: 0px;
    width: 56%;
    height: 30px;
    background-color: #1f1f1f;
    border-radius: 0px 0px 40px 40px;
}
